@use '../abstract/mixins' as *;
@use '../abstract/function' as *;
@use '../abstract/colors' as *;
@use '../abstract/breakpoints' as *;
@use '../abstract/font' as *;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  
html {
  scroll-behavior: smooth;
}
  
*::before,
*::after {
  box-sizing: inherit;
}

body{
  counter-reset:custom-counter;
  line-height: 1.5;
}

// .body {
//   line-height: 1.3;
//   font-family: $ff-secondary;
// }
  
  div,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color:$clr-1;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }

small{
  display:inline-block;
  font-size: rem(14);
  font-family: $ff-secondary;
}

button{
  border:none;
  outline:none;
}