@use '../abstract/function' as *;
@use '../abstract/colors' as *;
@use '../abstract/font' as *;
@use '../abstract/mixins' as *;
@use '../abstract/breakpoints' as *;

.main-content{
    overflow: hidden;
}

.banner-img{
    border-radius:10px;
}

.overlay{
    position: fixed;
    inset: 0;
    @include dimensions(100%, 100vh);
    background: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    @include breakpoint-lg{
        display: none;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
}

.header__menu,
.header__mobile-list,
.footer-link,
.footer-social-link{
    list-style: none;
}

//?--------- Custom Play Button Styles Start ---------
.video-action-btn{
    background: $clr-secondary;
    box-shadow: 0 0 20px 0 rgba(255, 119, 87, 0.25);
    @include border-radius(half);
    @include flex-center;
    @include animation(rippel, 1.25s, ease-in-out, infinite);
    @include transition(all, 0.25s, ease-in-out);
    padding: em(24);
    @include breakpoint-sm{
        padding:em(32);
    }
    @include breakpoint-xl{
        padding:em(36);
    } 
    span{
        svg{
            width: rem(20);
            height: auto;
            @include breakpoint-sm{
                width: rem(24);
            }
            @include breakpoint-md{
                width: rem(28);
            }
        }
    }
}


.play-btn{
    @include flex-center;
    margin-left: 4px;
}

@include keyframes(rippel){
    0% {
        box-shadow: 0 0 0 0px rgba(255, 119, 87, 0.1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 119, 87, 0.1);
    }
}
//?--------- Custom Play Button Styles End ---------


.title {
    img{
        width: rem(50);
        @include breakpoint-sm{
            width: rem(64);
        }
        @include breakpoint-md{
            width: rem(80);
        }
        @include breakpoint-lg{
            width: auto;
        }
    }  
}


[data-clutchcompany-id = "864247"]{
    background-color: #fff !important;
    width: 100% !important;
    iframe{
        border-bottom: 2px solid #17313b !important;
    }
}


.rankings,
.pay-as{
    figure{
        img{
            border-radius:8px;
        }
    }
}

.arrow-up-figure{
    img{
        max-width: 80px;
    }
}

.sales__figure{
    img, figcaption{
        border-radius: 8px;
    }
}

.google-ranking, .sepr {
    ul {
        li{
            font-weight: 900;
        }
    }
}








// ==============

// .step-wrapper{
//     display: flex;
//     align-items: center;
//     background-color: $clr-primary;
//     max-width: 220px;
//     border-radius:4px;

//     @include breakpoint-md{
//         max-width: 280px;
//     }
//     @include breakpoint-lg{
//         max-width: 360px;
//     }

//     h4{
//         color:white;
//     }
//     .step-no-box{
//         background-color:$clr-secondary;
//         padding-inline:em(16);
//         padding-block:em(2);
//     }
//     .step-name-box{
//         padding-inline:em(16);
//         padding-block:em(2);
//     }
// }