@use '../abstract/function' as *;
@use '../abstract/colors' as *;
@use '../abstract/font' as *;
@use '../abstract/mixins' as *;
@use '../abstract/breakpoints' as *;

.hamburger{
    @include dimensions(rem(30), rem(20));
    position: relative;
    cursor: pointer;
    @include breakpoint-sm{
        width: rem(36);
    }
    @include breakpoint-sm{
        width: rem(40);
    }
    @include breakpoint-lg{
        display: none;
    }
    .line{
        background-color: $clr-primary;
        display: block;
        height: 3.5px;
        position: absolute;
        right: 0;
        transform: translateZ(0) rotate(0);
        transform-origin: 109% 50%;
        transition: transform .25s ease-in-out,opacity .15s ease-in-out,width .15s ease-in-out;
        
        &:first-of-type{
            top: 0;
            width: 100%;
        }
        &:nth-of-type(2){
            right: -.5px;
            top: 50%;
            transform: translate3d(0,-50%,0) rotate(0);
            transform-origin: 50% 50%;
            width: 75%;
        }
        &:nth-of-type(3){
            bottom: 0;
            width: 50%;
        }
    }
    &:hover{
        cursor: pointer;
        .line:first-of-type{
            top: 0;
            transform: translate3d(0,-65%,0) rotate(-45deg);
            width: 75%;
        }
        .line:nth-of-type(2){
            opacity: 0;
            top: 50%;
            transform: translate3d(0,-50%,0) rotate(180deg);
            transform-origin: 50% 50%;
            width: 100%;
        }
        .line:nth-of-type(3){
            bottom: 0;
            transform: translate3d(0,95%,0) rotate(45deg);
            width: 75%;
        }
    }
}