@use '../abstract/colors' as *;
@use '../abstract/function' as *;
@use '../abstract/mixins' as *;
@use '../abstract/font' as *;
@use '../abstract/breakpoints' as *;


// =============== footer  ===============
.footer{
    position:relative;
}

.footer::before{
    content:'';
    position:absolute;
    width:100%;
    height:rem(48);
    background-color:$clr-secondary;
    clip-path: polygon(0 74%, 100% 45%, 100% 100%, 0% 100%);
    margin-top: -40px;
}

.footer-inner{
    background-color:$clr-primary;
}

.footer-heading-container{
    margin-bottom:rem(32);

    @include breakpoint-md{
        max-width:rem(812);
    }
}

.footer-cta-container{
    gap:rem(48);

    @include breakpoint-md{
        display:flex;
        align-items:center;
    }
}

.footer-cta-link{
    display:flex;
    align-items: center;
    gap:rem(16); 
    flex-wrap:wrap;
    margin-top:rem(16);

    @include breakpoint-md{
        margin-top:0;
    }
    .footer-cta-link__item{
        position:relative;
        outline:2px solid $clr-white;
        padding:rem(8) rem(28);
        color:$clr-white;
        font-size:rem(16);
        @include border-radius(40px);
        &:before{
            content:"";
            position:absolute;
            inset:0;
            transition: width, .45s cubic-bezier(0.165, 0.84, 0.44, 1);
            width:0%;
            @include border-radius(40px);
        }
        &:hover{
            &:before{
                width:100%;
                background-color:$clr-secondary;
            }
        }
    }
    .footer-cta-link__item-text{
        position:relative;
    }
}

.footer-logo{
    width:rem(200);
    @include breakpoint-sm{
        width:rem(214);
    }
}

.footer-heading-text,
.footer-paragraph-text{
    color:$clr-white;
}

.footer-bottom-content{
    padding:rem(48) 0 rem(32) 0;

    @include breakpoint-md{
        padding:rem(96) 0 rem(32) 0;
        
    }
    .wrapper{
        @include breakpoint-md{
            max-width:rem(237);
        }
    }
}

 .footer-social-link{
     display:flex;
     flex-wrap: wrap;
     gap:rem(24);
     margin-top:rem(28);
 }

 .footer-social-link__item{
    @include dimensions(rem(44) , rem(44));
    background-color: $clr-secondary;
    @include flex-center;
    position:relative;
    overflow:hidden;
    border-radius:4px;
    z-index: 1;
    @include breakpoint-sm{
        @include dimensions(rem(48) , rem(48));
    }
    svg {
        path{
            fill:$clr-white;
        }
    }

    &:before{
        content:'';
        position:absolute;
        inset:0;
        transition:all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
        clip-path: polygon(100% 100%, 0 0, 0 100%);
        transform:scale(0);
        transform-origin:bottom left;
        background-color:$clr-text;
        z-index: -1;
    }

    &:hover{
        cursor: pointer;
        &:before{
            transform:scale(2);
        }
        svg {
            path{
                fill:$clr-white;
            }
        }
    }
 }

 .copy-right-text{
     font-size:rem(14);
     font-weight:normal;
     color:$clr-white;
     line-height:rem(32);
     margin-top:rem(22);
     font-family:$ff-secondary;
     display:block;
     @include breakpoint-sm{
        font-size:rem(16);
     }
 }

 .footer-link{
    @include flex-column;
    margin-top: rem(6);
    align-items: center;
    @include breakpoint-sm{
        align-items: start;
    }
    @include breakpoint-xl{
        margin-top: rem(10);
        row-gap: rem(8);
    }
}

.footer-link__item{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family:$ff-secondary;
    font-size:rem(16);
    font-weight: 600;
    // line-height:rem(40);
    line-height:rem(32);
    background-image: linear-gradient(
        to right,
        $clr-secondary, 
        $clr-secondary 50%,
        $clr-white 50%    
    );
    background-size: 200% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:background-position 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
 
    @include breakpoint-sm{
        font-size:rem(18);
    }
    @include breakpoint-xxl{
        font-size: rem(20);
    }
    &:hover{
        background-position: 0;
        svg{
            path{
                fill: $clr-secondary;
            }
        }
    }
}

.footer-link__address{
    display: flex;
    margin-top: rem(-22);
}

.footer-link--highlight{
    font-weight:900;
    transition:unset;
    font-size:rem(24);
    color:$clr-tertiary;
    text-align: center;
    @include breakpoint-sm{
        font-size:rem(26);
        text-align: left;
    }
    @include breakpoint-md{
        font-size:rem(28);
    }
    @include breakpoint-lg{
        font-size:rem(32);
    }
}

.footer-address{
    address{
        font-family: $ff-secondary;
        font-style:normal !important;
        max-width: 20ch;
    }
}

.footer-logo-wrapper{
    text-align:center;
    @include breakpoint-sm{
        text-align:left;
    }
}

