$clr-primary:#003ADC;
$clr-secondary:#FF7757;
$clr-primary-2:#0A33A4;

$clr-tertiary:#7D9AEA;

$clr-black:#000000;
$clr-black-100:#2d2d2d;
$clr-text:#232323;
$clr-1:#0d0d0d;
$clr-2:#343434;
// $clr-3:#727272;

$clr-sky-blue:#DDEAFF;


$clr-orange-600:#FFEBE6;
$clr-orange-500:#FEE9DF;


$clr-grey-300:#4e4e4e;
$clr-grey-400: #727272;
$clr-grey-500:#bfbfbf;
$clr-grey-600:#F5F5F5;
$clr-grey-700:#E8E8E8;
$clr-grey-800:#f6f6f6;


$clr-white:#ffffff;

$clr-section-bg:#fafafa;
$clr-seperator:#4e4e4e;


$clr-green:#309c17;
$clr-orange:#f05708;
