@use './font' as *;
@use './colors' as *;

// ======== background cover =========
@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// ======== flex toolkit =========//
@mixin flex-column{
    display:flex;
    flex-direction: column;
}

@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items:center;
}

@mixin flex-center-horizontal{
    display:flex;
    justify-content: center;
}
@mixin flex-center-vertical{
    display:flex;
    align-items:center;
}
@mixin flex-start-vertical{
    display:flex;
    align-items:flex-start;
}
@mixin flex-end-vertical{
    display:flex;
    align-items:flex-end;
}
@mixin flex-start-horizontal{
    display:flex;
    justify-content: flex-start;
}
@mixin flex-end-horizontal{
    display:flex;
    justify-content: flex-end;
}

// ======== pseudo ============= //
@mixin pseudo-cover{
    content: '';
    position:absolute;
    inset:0;
}

// ======== setting font for header and body ======= //
@mixin font-heading{
    font-display:swap;
    font-family:$ff-primary;
    font-weight:normal;
    color:$clr-1;
}

@mixin font-body{
    font-display:swap;
    font-family: $ff-secondary;
    font-weight:normal;
    // color:$clr-grey-400;
    color:$clr-black-secondary;
}

@mixin full-dimensions{
    width: 100%;
    height: 100%;
}

@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

@mixin border-radius($radius){
    @if $radius == "half"{
        border-radius:50%;
    } @else {
        border-radius:$radius;
    }
}

@mixin transition($property:all, $delay:0, $timing-func:ease){
    transition:$property $delay $timing-func;
}

@mixin transform($property){
    transform:$property;
}

@mixin animation($animation-name, $duration, $timing-function, $direction){
    animation:$animation-name $duration $timing-function $direction;
    -webkit-animation:$animation-name $duration $timing-function $direction;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
      @content;
    }
}

@mixin backgroundColor($red:0, $green:0, $blue:0, $alpha:1){
    background:rgba($red, $green, $blue, $alpha);
}

// @mixin bgImage-linear-gradient($direction:right, $clr-1:$clr-primary, $clr-2:$clr-primary, $clr-3:$clr-secondary){
//     background-image: linear-gradient(to $direction, $clr-1,$clr-2, $clr-3);
// }

@mixin center-through-position{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}


// Caret Down
@mixin caret-down{
    content:"";
    position: absolute;
    right: 1rem;
    top: 55%;
    pointer-events: none;
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem  solid transparent;
    border-top: 0.35rem solid $clr-black;
}

