@use '../abstract/function' as *;
@use '../abstract/breakpoints' as *;
@use '../abstract/mixins' as *;
@use '../abstract/colors' as *;
@use '../abstract/font' as *;
 


.contact-form{
    &__para{
        font-size: rem(22);
        line-height: 1.82;
        color: $clr-text;
    }
    &__social-media{
        @include flex-center-vertical;
        gap:rem(20);
        flex-wrap: wrap;
        list-style: none;
        @include breakpoint-md{
            gap:rem(48);
        }
        @include breakpoint-lg{
            gap:rem(64);
        }
        @include breakpoint-xl{
            gap:rem(80);
        }
        // a span, .fa{
        //     color:$clr-grey-400;
        // }
        &__text{
            margin-right: 10px;
        }
        // .social-media-link:hover a span{
        //     color:$clr-text;
        // }
        // .social-media-link:hover .fa{
        //     color:$clr-text;
        // }
    }
}
.social-media-link{
    a{
        background-image: linear-gradient(
            to right, 
            $clr-secondary,
            $clr-secondary 50%, 
            $clr-text 50%
        );
        background-size: 200% 100%;
        background-position: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition:background-position 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover{
        a{
            background-position: 0;
        }
    }

}

::placeholder{
    color:$clr-grey-400;
}

::-moz-placeholder{
    color:$clr-grey-400;
}

.form{
    width:98%;
    @include breakpoint-md{
        width:100%;
    }
}

.form-group{
    margin-bottom:rem(22);
    width:100%;
    position: relative;
}

.form-control{
    background-color:$clr-grey-600;
    border:none;
    outline:none;
    width:100%;
    padding:rem(16) rem(32);
    font-size:rem(16);
    line-height: 2.75;
    font-family:$ff-secondary;
    color:$clr-grey-400;
    // caret-color: $clr-primary;
    @include breakpoint-md{
        font-size:rem(18); 
    }
    @include breakpoint-xl{
        font-size:rem(20); 
    }
    // &:valid:not(select),
    &:focus{
        outline:2px solid $clr-primary;
        color:$clr-text;
    }
}

.form__label{
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    transition:top 0.3s ease-out, font-size 0.3s ease-out;
    padding-inline:0.5em;

    &--inline{
        left: 2em;
    }
    &--textarea{
        top: 13%;
    }
}

.form-control:valid + .form__label, 
.form-control:focus + .form__label{
    font-size: 0.9em;
    top: 0;
    color:$clr-primary;
    background:$clr-grey-600;
    top: -5px;
    line-height: 20px;
    border-radius: 50px;
}


textarea.form-control{
    height:rem(200);
    resize:none;
    @include breakpoint-md{
        height:rem(300);
    }
}

select.form-control{
    padding:rem(16) rem(24);
    position: relative;
    option{
        font-family:$ff-secondary;
    }
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-arrow{
    position: absolute;
    top: 50%;
    right: 32px; 
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-right: 2px solid #595959;
    border-bottom: 2px solid #595959;
    pointer-events: none; 
    transform: rotate(45deg) translateX(-45%);
    transition:transform 0.3s ease-out;
}

.agree-concent-label{
    font-family:$ff-secondary;
    font-size:rem(18);
    line-height:1.5;
    // @include breakpoint-md{
    //     line-height:1.5;
    // }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; //Firefox
  -ms-appearance:textfield; // Internet Explorer
  -webkit-appearance:textfield; // chrome, safari
  appearance: none;
}

button[type="submit"]{
    opacity: 0.65;
}

button[type="submit"].enable{
    opacity:1;
}

.icon-wrapper{
    gap:rem(10);
    @include breakpoint-sm{
        gap:rem(14);
    }
    @include breakpoint-xl{
        gap:rem(18);
    }
}

.contact-icon{
    width:rem(20);
    // @include breakpoint-md{
    //     width:rem(23);
    // }
    @include breakpoint-xl{
        width:rem(24);
    }
}

.form-group-checkbox{
    display: flex;
    align-items: flex-start;
    @include breakpoint-sm{
        align-items: center;
    }
}

.additional-contact-detail{
    h6{
        font-size: rem(24);
        line-height: 1.71;
        color:$clr-secondary;
        @include breakpoint-md{
            font-size: rem(28);
        }
    }
    a{
        background-image: linear-gradient(
            to right, 
            $clr-secondary,
            $clr-secondary 50%, 
            $clr-black 50%
        );
        background-size: 200% 100%;
        background-position: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.35s cubic-bezier(.39,.58,.57,1);
        display: block;
        &:hover{
            background-position: 0;
        }
    }
    a, p{
        font-size: rem(18);
        line-height: 2;
        color:$clr-text;
        @include breakpoint-md{
            font-size: rem(20);
        }
    }
    .icon-wrapper{
        display: flex;
        align-items: center;
    }
}

#agree-concent{
    width: rem(20);
    height: rem(24);
    margin-right: 10px;
    flex-shrink: 0;
    @include breakpoint-sm{
        width: rem(20);
        height: rem(20);
    }
}
